* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: black;
  }
  
  .Haeder {
    color: #a8b2b2;
  }
  body {
    background-image: linear-gradient(
        rgba(31, 98, 98, 0.046),
        rgba(27, 130, 167, 0.085)
      ),
      url(Images/cover2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .navbar {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .navbar ul li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
    cursor: pointer;
  }
  
  .first {
    margin-left: 20px;
  }
  
  .content {
    margin-top: 200px;
    margin-left: 190px;
    font-size: 30px;
  }
  .head {
    color: rgb(120, 113, 113);
  }
  .active {
    color: #5c6b6b;
  }
  
  .loader_bg {
    position: fixed;
    background-color: #828686;
  
    width: 100%;
    height: 100vh;
  }
  
  .loader {
    width: 150px;
    height: 150px;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  
  .loader::before {
    content: "";
    height: 30px;
    width: 30px;
    background: transparent;
    border-radius: 50px;
    border: 20px ridge;
    border-width: 25px;
    border-color: #2ee3e8 transparent;
    animation: load 1s infinite;
  }
  
  @keyframes load {
    50% {
      transform: rotatez(180deg);
    }
    100% {
      transform: rotatez(360deg);
    }
  }
  
  img {
    width: 700px;
    height: auto;
    position: absolute;
    left: 62%;
    top: 5%;
  }
  
  .color {
    background-color: rgba(109, 106, 106, 0.291);
    rotate: 35deg;
    width: 680px;
    height: 680px;
    position: absolute;
    left: 75%;
    bottom: 5%;
    top: 8%;
  }
  
  .navbar ul li:hover {
    color: #828686;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in;
  }
  
  button {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.657);
    width: 200px;
    height: 60px;
    border-radius: 40px;
    margin-left: 110px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
  }
  
  button:hover {
    border: 2px solid rgb(103, 105, 107);
    transform: scale(1.1);
    transition: 0.4s ease;
  }
  
  p {
    font-size: 15px;
  }
  
  .about {
    background-image: linear-gradient(
        rgba(31, 98, 98, 0.046),
        rgba(27, 130, 167, 0.085)
      ),
      url(Images/white.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0%;
    bottom: 0%;
    top: 100%;
    color: #828686;
  }
  
  .head2 {
    position: absolute;
    left: 11.5%;
    top: 10%;
  }
  
  #discover {
    color: #5c6b6b;
  }
  
  .para1 {
    position: absolute;
    top: 25%;
    left: 8%;
  }
  
  .contact {
    background-color: rgba(66, 65, 65, 0.403);
    width: 800px;
    height: 750px;
    position: absolute;
    top: 10%;
    left: 6%;
    border-radius: 10px;
  }
  
  .shape {
    background-color: #070808;
    width: 1440px;
    height: 900px;
    background-size: cover;
    position: absolute;
    top: 300%;
    color: white;
  }
  
  .icon1 {
    margin-left: 7px;
  }
  
  .icon2 {
    margin-left: 8px;
  }
  
  h3 {
    margin-top: 20px;
    margin-left: 13px;
    font-weight: 300;
    color: #f4f7f7c2;
    text-shadow: 2px #5c6b6b;
  }
  
  .send {
    margin-top: 10px;
    border-radius: 8px;
    width: 110px;
    height: 45px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  
  .send:hover {
    background-color: #444444;
    transform: scaleX(1.1);
    transition: 0.2s ease;
  }
  
  label {
    margin-left: 30px;
    color: azure;
    font-size: 25px;
  }
  
  input {
    width: 700px;
    margin-left: 30px;
    height: 50px;
    border-radius: 9px;
    background-color: rgba(66, 65, 65, 0.65);
    padding: 10px;
    font-size: 20px;
  }
  .message {
    height: 200px;
  }
  
  #contact {
    margin-left: 25px;
    color: #f1f5f5;
    font-size: 50px;
  }
  
  .links {
    text-align: center;
    position: absolute;
    top: 70%;
    background-color: rgba(128, 128, 128, 0.366);
  }
  
  #icon3 {
    position: absolute;
    top: 78%;
    left: 10.7%;
  }
  #icon4 {
    position: absolute;
    top: 78%;
    left: 13.4%;
  }
  
  #icon5 {
    position: absolute;
    top: 78%;
    left: 15.9%;
  }
  
  .projects {
    background-color: rgb(204 211 213);
    width: 1440px;
    height: 900px;
    background-size: cover;
    position: absolute;
    top: 200%;
    color: rgb(0, 0, 0);
  }
  
  .color2 {
    background-color: rgb(70, 69, 69);
    rotate: 35deg;
    width: 680px;
    height: 680px;
    position: absolute;
    left: 80%;
    top: 48%;
  }
  
  #projects {
    color: rgb(114, 114, 115);
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .netflix {
    width: 350px;
    height: auto;
    margin-top: 50px;
    margin-right: 900px;
    box-shadow: 5px 5px 7px 7px #0708083f;
  }
  
  .netflix:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }
  
  .project1 {
    color: rgb(0, 0, 0);
    margin-top: 150px;
    margin-left: 300px;
    font-size: 30px;
  }
  
  .project1:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
  }
  .net {
    color: rgb(246 0 10);
  }
  
  .invinciple {
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 18%;
    box-shadow: 5px 5px 7px 7px #07080852;
  }
  
  .invinciple:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }
  
  .project2 {
    color: rgb(0, 0, 0);
    margin-top: 300px;
    margin-left: 700px;
    font-size: 30px;
  }
  
  .project2:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
  }
  
  .in {
    color: rgb(3 143 102);
    cursor: pointer;
  }
  
  .li1 {
    margin-right: 8px;
    width: 20px;
  }
  
  #dots1 {
    position: absolute;
    top: 9.3%;
    left: 61.2%;
  }
  
  #dots2 {
    position: absolute;
    top: 36%;
    left: 85.2%;
  }
  
  #dots3 {
    position: absolute;
    top: 49%;
    left: 41%;
  }
  
  #dots4 {
    position: absolute;
    top: 75.7%;
    left: 17.6%;
  }
  
  .quote {
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 65%;
  }
  
  .albert {
    color: #bbbcbc;
    font-weight: 800;
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
  }
  
  #quote {
    position: absolute;
    top: 25%;
    left: 65%;
  }
  
  .li2 {
    position: absolute;
    top: 11%;
    left: 9%;

  }
  